{% load static %}
<html>
	<script src="{% static 'kelaskita/jquery.min.js' %}"></script>
	<script type="text/javascript">
		$(document).ready( function() 
    	{
    		randomNumber = Math.floor(100000 + Math.random() * 900000);

		    sessionBrowserId = localStorage.getItem("sessionBrowserId");
		    if(sessionBrowserId == null){
		        sessionBrowserId = randomNumber;
		        localStorage.setItem("sessionBrowserId",sessionBrowserId);
		    }

		    console.log(sessionBrowserId);

		    $.ajax({
		        type: "POST",
		        url: "{% url 'checkCount' %}",
		        data: 'sessionBrowserId='+sessionBrowserId+'&csrfmiddlewaretoken={{ csrf_token }}',
		        dataType: "json",
		        success: function(json) {
		        	console.log(json);
		            $("#totalData").html(json.counts);
		        }
		    });
    	});

	</script>
	Total nya adalah : <b id="totalData"></b>
</html>